@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: rgb(68, 70, 82);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: rgb(59, 90, 103);
    width: 260px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.501);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: rgb(68, 70, 82) url(../imagens/predio.jpg) no-repeat;
    background-size: cover;
    background-position: left top;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 1em;
}

form > div.campo {
    display: flex;
    align-items: center; 
    background-color: #0e1314;
    margin: 10px 0px;
    border-radius: 8px;
    overflow: hidden;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 1.5em;
    width: 45px;
    text-align: center;
    padding: 5px;
}

div.campo > input {
    background-color: #2e424b; 
    color: white;
    font-size: 1em;
    flex-grow: 1;
    height: 45px;
    border: 0px;
    padding: 0px 10px;
    outline: none; 
}

div.campo > input:focus-within {
    background-color: #1c272d;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 15px;
    background-color: #2e424b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #1c272d;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
}

form > a.botao:hover {
    color: #0e1316;
    text-decoration: underline;
}