@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: rgb(68, 70, 82);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: rgb(59, 90, 103);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.501);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: rgb(68, 70, 82) url(../imagens/predio.jpg) no-repeat;
    background-size: cover;
    background-position: left top;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}